.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app.normal {
  filter: none; /* Normal vision */
}

.app.tritanopia {
  filter: hue-rotate(180deg); /* Example adjustment for Tritanopia */
}

.app.protanopia {
  filter: hue-rotate(90deg); /* Example adjustment for Protanopia */
}

.app.deuteranopia {
  filter: hue-rotate(45deg); /* Example adjustment for Deuteranopia */
}

.app.achromatopsia {
  filter: grayscale(100%); /* Complete color blindness */
}

.app.monochromacy {
  filter: grayscale(100%); /* Similar to achromatopsia but may vary */
}